{
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "max-len": [
      "error",
      { "code": 120, "tabWidth": 2, "ignoreComments": true, "ignoreUrls": true, "ignoreStrings": true }
    ],
    "quotes": [2, "single", "avoid-escape"],
    "prettier/prettier": ["error", { "singleQuote": true }]
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
